.upload {
  position: relative;
  * {
      z-index: 2;
  }
  .file-upload-input {
      position: absolute;
      margin: 0;
      left: 0;
      top: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
      cursor: pointer;
      z-index: 1;
  }
  .upload-default {
      padding: 40px 20px;
      border: 4px dotted #e7f0ed;
  }
  .upload-create {
      padding: 120px 20px;
      border: 4px dotted #e7f0ed;
  }
  .upload-endorsables {
      padding: 20px 10px;
      padding-bottom: 35px;
      border: 4px dotted #dee6ef;
  }
  .upload-error {
      padding: 60px 20px;
      border: 4px dotted #f2c8c2;
      background-color: #FBEEEC;
      color: #E9573F;
  }
  .upload-success {
      padding: 60px 20px;
      border: 4px solid #97d3bc;
      background-color: #f1f9f6;
      color: #37BC9B;
  }
  .upload-neutral {
      padding: 60px 20px;
      border: 4px dotted #dddddd;
      color: #777777;
  }
  .form-control {
      background-color: #ffffff;
      border: 1px solid #eeeeee;
  }

  .btn {
    background-color: #37BC9B;
    border-color: #37BC9B;
    color: white;
  }

  &.image-dropping,
  &.image-upload-wrap:hover {
    background-color: #e7f0ed;
    border-color: #ffffff;
  }
}

#pdf-container {
  margin-top: 40px;

  .pdf-controls {
    width: 100%;
    display: block;
  }

  .fixed {
      position: fixed;
      top: 0;
      left: calc(50% - 480px);
      z-index: 100;
      width: 100%;
      padding: 1em;
      background: rgba(238, 238, 238, .9);
      width: 960px;
  }

}
