.verify {

	.verify-info {
		line-height: 1.44em;

		.alert-danger {
		  color: #E9573F;
		  background-color: #FBEEEC;
		  padding: 20px 20px;
		  border-radius: 2px;
		  margin: 15px 0px;
		  font-size: 13px;
		  border: 0px;
		}

		p {
			line-height: 1.4;
		}

		a {
			color: #ED5565;
			text-decoration: underline;
		}

		a:hover {
			color: #444;
		}

		strong {
			text-transform: uppercase;
		}

		.text-break {
			word-wrap: break-word;
		}

	}

	.verify-in-short {
		font-size: 0.9em;
    line-height: 1.5;

		h2 {
			line-height: 1.44em;
			margin: 20px 0;
      font-size: 26px;
      font-weight: 600;
		}
	}

	.help-block {
		color: #333;
		font-weight: 600;
	}
}
