.verify {

	.verify-info {
		line-height: 2;

		.alert-danger {
		  color: #E9573F;
		  background-color: #FBEEEC;
		  padding: 20px 20px;
		  border-radius: 2px;
		  margin: 15px 0px;
		  font-size: 13px;		
		  border: 0px;
		}

		p {
			line-height: 1.4;
		}

		a {
			color: #ED5565;
			text-decoration: underline;
		}

		a:hover {
			color: #444;
		}

		strong {
			text-transform: uppercase;
		}

		.text-break {
			word-wrap: break-word;
		}

	}

}