.mi_u-textAlignCenter {
  text-align: center !important;
}

.mi_u-textAlignLeft {
  text-align: left !important;
}

.mi_u-textAlignRight {
  text-align: right !important;
}

.mi_u-textAlignJustify {
  text-align: justify !important;
}
