.mi_u-coreNeutral600 {
  color: $mi-core-color-neutral-600 !important;
}

.mi_u-colorGreen300 {
  color: $mi-core-color-green-300 !important;
}

.mi_u-colorYellow300 {
  color: $mi-core-color-yellow-300 !important;
}

.mi_u-colorRed250 {
  color: $mi-core-color-red-250 !important;
}
