.mi_u-margin1X {
  margin: $mi-core-spacing-1-x !important;
}

.mi_u-margin2X {
  margin: $mi-core-spacing-2-x !important;
}

.mi_u-margin3X {
  margin: $mi-core-spacing-3-x !important;
}

.mi_u-margin4X {
  margin: $mi-core-spacing-4-x !important;
}

.mi_u-margin5X {
  margin: $mi-core-spacing-5-x !important;
}

.mi_u-margin6X {
  margin: $mi-core-spacing-6-x !important;
}

.mi_u-margin7X {
  margin: $mi-core-spacing-7-x !important;
}

.mi_u-margin8X {
  margin: $mi-core-spacing-8-x !important;
}

.mi_u-marginB1X {
  margin-bottom: $mi-core-spacing-1-x !important;
}

.mi_u-marginB2X {
  margin-bottom: $mi-core-spacing-2-x !important;
}

.mi_u-marginB3X {
  margin-bottom: $mi-core-spacing-3-x !important;
}

.mi_u-marginB4X {
  margin-bottom: $mi-core-spacing-4-x !important;
}

.mi_u-marginB5X {
  margin-bottom: $mi-core-spacing-5-x !important;
}

.mi_u-marginB6X {
  margin-bottom: $mi-core-spacing-6-x !important;
}

.mi_u-marginB7X {
  margin-bottom: $mi-core-spacing-7-x !important;
}

.mi_u-marginB8X {
  margin-bottom: $mi-core-spacing-8-x !important;
}

.mi_u-marginT1X {
  margin-top: $mi-core-spacing-1-x !important;
}

.mi_u-marginT2X {
  margin-top: $mi-core-spacing-2-x !important;
}

.mi_u-marginT3X {
  margin-top: $mi-core-spacing-3-x !important;
}

.mi_u-marginT4X {
  margin-top: $mi-core-spacing-4-x !important;
}

.mi_u-marginT5X {
  margin-top: $mi-core-spacing-5-x !important;
}

.mi_u-marginT6X {
  margin-top: $mi-core-spacing-6-x !important;
}

.mi_u-marginT7X {
  margin-top: $mi-core-spacing-7-x !important;
}

.mi_u-marginT8X {
  margin-top: $mi-core-spacing-8-x !important;
}

.mi_u-marginR1X {
  margin-right: $mi-core-spacing-1-x !important;
}

.mi_u-marginR2X {
  margin-right: $mi-core-spacing-2-x !important;
}

.mi_u-marginR3X {
  margin-right: $mi-core-spacing-3-x !important;
}

.mi_u-marginR4X {
  margin-right: $mi-core-spacing-4-x !important;
}

.mi_u-marginR5X {
  margin-right: $mi-core-spacing-5-x !important;
}

.mi_u-marginR6X {
  margin-right: $mi-core-spacing-6-x !important;
}

.mi_u-marginR7X {
  margin-right: $mi-core-spacing-7-x !important;
}

.mi_u-marginR8X {
  margin-right: $mi-core-spacing-8-x !important;
}

.mi_u-marginL1X {
  margin-left: $mi-core-spacing-1-x !important;
}

.mi_u-marginL2X {
  margin-left: $mi-core-spacing-2-x !important;
}

.mi_u-marginL3X {
  margin-left: $mi-core-spacing-3-x !important;
}

.mi_u-marginL4X {
  margin-left: $mi-core-spacing-4-x !important;
}

.mi_u-marginL5X {
  margin-left: $mi-core-spacing-5-x !important;
}

.mi_u-marginL6X {
  margin-left: $mi-core-spacing-6-x !important;
}

.mi_u-marginL7X {
  margin-left: $mi-core-spacing-7-x !important;
}

.mi_u-marginL8X {
  margin-left: $mi-core-spacing-8-x !important;
}

.mi_u-padding1X {
  padding: $mi-core-spacing-1-x !important;
}

.mi_u-padding2X {
  padding: $mi-core-spacing-2-x !important;
}

.mi_u-padding3X {
  padding: $mi-core-spacing-3-x !important;
}

.mi_u-padding4X {
  padding: $mi-core-spacing-4-x !important;
}

.mi_u-padding5X {
  padding: $mi-core-spacing-5-x !important;
}

.mi_u-padding6X {
  padding: $mi-core-spacing-6-x !important;
}

.mi_u-padding7X {
  padding: $mi-core-spacing-7-x !important;
}

.mi_u-padding8X {
  padding: $mi-core-spacing-8-x !important;
}

.mi_u-paddingB1X {
  padding-bottom: $mi-core-spacing-1-x !important;
}

.mi_u-paddingB2X {
  padding-bottom: $mi-core-spacing-2-x !important;
}

.mi_u-paddingB3X {
  padding-bottom: $mi-core-spacing-3-x !important;
}

.mi_u-paddingB4X {
  padding-bottom: $mi-core-spacing-4-x !important;
}

.mi_u-paddingB5X {
  padding-bottom: $mi-core-spacing-5-x !important;
}

.mi_u-paddingB6X {
  padding-bottom: $mi-core-spacing-6-x !important;
}

.mi_u-paddingB7X {
  padding-bottom: $mi-core-spacing-7-x !important;
}

.mi_u-paddingB8X {
  padding-bottom: $mi-core-spacing-8-x !important;
}

.mi_u-paddingT1X {
  padding-top: $mi-core-spacing-1-x !important;
}

.mi_u-paddingT2X {
  padding-top: $mi-core-spacing-2-x !important;
}

.mi_u-paddingT3X {
  padding-top: $mi-core-spacing-3-x !important;
}

.mi_u-paddingT4X {
  padding-top: $mi-core-spacing-4-x !important;
}

.mi_u-paddingT5X {
  padding-top: $mi-core-spacing-5-x !important;
}

.mi_u-paddingT6X {
  padding-top: $mi-core-spacing-6-x !important;
}

.mi_u-paddingT7X {
  padding-top: $mi-core-spacing-7-x !important;
}

.mi_u-paddingT8X {
  padding-top: $mi-core-spacing-8-x !important;
}

.mi_u-paddingR1X {
  padding-right: $mi-core-spacing-1-x !important;
}

.mi_u-paddingR2X {
  padding-right: $mi-core-spacing-2-x !important;
}

.mi_u-paddingR3X {
  padding-right: $mi-core-spacing-3-x !important;
}

.mi_u-paddingR4X {
  padding-right: $mi-core-spacing-4-x !important;
}

.mi_u-paddingR5X {
  padding-right: $mi-core-spacing-5-x !important;
}

.mi_u-paddingR6X {
  padding-right: $mi-core-spacing-6-x !important;
}

.mi_u-paddingR7X {
  padding-right: $mi-core-spacing-7-x !important;
}

.mi_u-paddingR8X {
  padding-right: $mi-core-spacing-8-x !important;
}

.mi_u-paddingL1X {
  padding-left: $mi-core-spacing-1-x !important;
}

.mi_u-paddingL2X {
  padding-left: $mi-core-spacing-2-x !important;
}

.mi_u-paddingL3X {
  padding-left: $mi-core-spacing-3-x !important;
}

.mi_u-paddingL4X {
  padding-left: $mi-core-spacing-4-x !important;
}

.mi_u-paddingL5X {
  padding-left: $mi-core-spacing-5-x !important;
}

.mi_u-paddingL6X {
  padding-left: $mi-core-spacing-6-x !important;
}

.mi_u-paddingL7X {
  padding-left: $mi-core-spacing-7-x !important;
}

.mi_u-paddingL8X {
  padding-left: $mi-core-spacing-8-x !important;
}
