.mi_u-fontWeightBold {
  font-weight: bold !important;
}

.mi_u-textBreakAll {
  word-break: break-all !important;
}

.mi_u-textTransformUppercase {
  text-transform: uppercase !important;
}

.mi_u-textTransformLowercase {
  text-transform: lowercase !important;
}

.mi_u-textDecorationUnderline {
  text-decoration: underline !important;
}
