<div class='config'>
  <div class="row">
    <div class="col-md-12">
      <div ng-show="certs.length > 0" class="proceed-verify">
        <h4>{{ 'CONFIG.CERTIFICATES_LOADED' | translate }}</h4>
        <button class="btn-lg btn-success" ui-sref="verify">{{ 'CONFIG.VER_BUTTON' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group upload-certificates">
        <h3>{{ 'CONFIG.SELECT' | translate }}</h3>
        <p class="help-block top-padder-md">{{ 'CONFIG.ALL' | translate }}</p>
        <p class="help-block top-padder-md bottom-padder-md">{{ 'CONFIG.AFTER' | translate }}</p>
        <h4><strong>Carga de Certificados de firma</strong></h4>
        <input type="file" accept=".crt" class="cert-uploader" custom-on-change="setRootCerts" multiple="true">
        <h4><strong>Carga de Certificados de constancia</strong></h4>
        <input type="file" accept=".crt" class="nom151Ca-uploader" custom-on-change="setNom151Ca" multiple="true">
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div ng-show="certs.length > 0 || nom151Ca.length > 0" class="root-certificates">
        <div ng-show="certs.length > 0">
          <h4>
            {{ 'CONFIG.LOADED' | translate }}
          </h4>
          <ul class="bottom-padder-md">
            <li ng-repeat="cert in certs | orderBy:'name'">
              {{ cert.name }}
            </li>
          </ul>
        </div>
        <div ng-show="nom151Ca.length > 0">
          <h4>
            Certificados Raíz de constancia
            <a href="" class="text-small text-danger unstyled glyphicon glyphicon-trash" ng-click="removeNom151Ca()"></a>
          </h4>
          <ul class="bottom-padder-md">
            <li ng-repeat="cert in nom151Ca | orderBy:'name'">
              {{ cert.name }}
            </li>
          </ul>
        </div>
      </div>
      <div ng-show="certs.length > 0">{{ 'CONFIG.DELETE' | translate }}<b>{{ 'CONFIG.UNDONE' | translate }}</b></p>
        <button ng-click="clear()" class="btn btn-md btn-delete glyphicon glyphicon-trash"></button>
      </div>
    </div>
  </div>
</div>
