<div class='config'>
  <div class="row">
    <div class="col-md-12">
      <div ng-show="certs.length > 0" class="proceed-verify">
        <h4>Have you uploaded all the Root certificates?</h4>
        <button class="btn-lg btn-success" ui-sref="verify">Proceed to verify</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group upload-certificates">
        <h3 for="cert-uploader">Select the Root certificates</h3>
        <p class="help-block">Be sure to select ALL of the Root certificates of the corresponding certificate authority. You can select several files at once.</p>
        <p class="help-block bottom-padder-md">Once you have uploaded the root certificates, you will see a button that allows you to proceed to upload your .xml file.</p>
        <input id="cert-uploader" type="file" accept=".crt" class="cert-uploader" custom-on-change="setRootCerts" multiple="true">
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div ng-show="certs.length > 0" class="root-certificates">
        <h4>
          Root Certificates Uploaded by You
        </h4>
        <ul class="bottom-padder-md">
          <li ng-repeat="cert in certs | orderBy:'name'">
            {{ cert.name }}
          </li>
        </ul>
      </div>
      <div ng-show="certs.length > 0">
        <p class="delete-text top-padder-md">Delete all certificates <b>(this action cannot be undone)</b></p>
        <button ng-click="clear()" class="btn btn-md btn-delete glyphicon glyphicon-trash"></button>
      </div>
    </div>
  </div>
</div>