<div id="how-it-works">
	<h3>About</h3>
	<p>XML Fiesta es una herramienta para validar Firmas Electrónicas Avanzadas.</p>
	<p class="help-block"><em>*Esta versión soporta únicamente documentos firmados en la plataforma <a href="https://www.mifiel.com">Mifiel</a> usando la FIEL del SAT.</em></p>

	<h3 class="top-padder-md">¿Cómo Funciona?</h3>
	<p>Para utilizarla sólo tienes que:</p>

	<p>1. Cargar los certificados raíz de la autoridad certificadora (SAT, PJF, etc) que emitió los certificados con los que se firmó el documento.</p>

	<p>2. Seleccionar o arrastrar el documento firmado (en formato XML)</p>

	<p>La aplicación realizará tres validaciones y si se cumplen todas podrás estar 100% seguro de que tienes un documento firmado correctamente por la persona o personas indicadas.  otorgándole todo el valor legal que la ley le confiere a los documentos firmados mediante Firmas Electrónicas Avanzadas. </p>

	<h3 class="top-padder-md">¿Que valida la aplicación?</h3>
	<p>La huella digital o hash del documento original (PDF)</p>
	<p>Que los certificados que se usaron para firmar no sean apócrifos</p>
	<p>Que la Firma Electrónica corresponda al documento que se firmó</p>
</div>

<div class="contact">
	 <object data="images/email.svg" type="image/svg+xml" alt="Contáctanos"></object>
	<h3>¿Dudas o preguntas?</h3>
	<a href="mailto:hola@mifiel.com" class="btn btn-md btn-success">Envíanos un correo</a>
</div>