<div id="how-it-works">
	<h3>{{ 'FAQ.ABOUT' | translate }}</h3>
	<p>{{ 'FAQ.INTRO' | translate }}</p>
	<p class="help-block"><em>{{ 'FAQ.NOTICE' | translate }}<a href="https://www.mifiel.com">Mifiel</a></em></p>

	<h3 class="top-padder-md">¿Cómo Funciona?</h3>
	<p>Para utilizarla sólo tienes que:</p>

	<p>{{ 'FAQ.FIRST' | translate }}</p>

	<p>{{ 'FAQ.SECOND' | translate }}</p>

	<p>{{ 'FAQ.THIRD' | translate }}</p>

	<h3 class="top-padder-md">{{ 'FAQ.WHAT' | translate }}</h3>
	<p>{{ 'FAQ.VALIDATION_1' | translate }}</p>
	<p>{{ 'FAQ.VALIDATION_2' | translate }}</p>
	<p>{{ 'FAQ.VALIDATION_3' | translate }}</p>
</div>

<div class="contact">
	 <object data="images/email.svg" type="image/svg+xml" alt="Contáctanos"></object>
	<h3>{{ 'FAQ.QUESTIONS' | translate }}</h3>
	<a href="mailto:hola@mifiel.com" class="btn btn-md btn-success">{{ 'FAQ.EMAIL' | translate }}</a>
</div>