
<div ng-if="!ready">
  Please <a ui-sref="config">upload</a> the root certificates first.
</div>


<div class="row" ng-show="!pdfUrl">
  <div class="upload text-center" dropzone>
    <div class="upload-default">
      <h6 class="bottom-padder-sm margin-15">Drag the XML you want to verify.</h6>
      <button class="btn">or click here to select one</button>
      <input accept-name="XML" accept="text/xml" text="true" class="file-upload-input" fileread="upload" required="true" type="file">
    </div>
  </div>
</div>


<div ng-show="pdfUrl">
  <h2>Signatures</h2>

  <ul class="list-unstyled">
    <li><strong>Document:</strong> {{ doc.name }}</li>
    <li ng-class="{'text-success': oHashValid, 'text-danger': !oHashValid}">
      <strong>Original Hash: </strong>
      {{ doc.originalHash }}
      <i class="glyphicon" ng-class="{'glyphicon-ok': oHashValid, 'glyphicon-remove': !oHashValid}"></i>
    </li>
  </ul>

  <hr />

  <div id="signers">
    <ul class="list-unstyled" ng-repeat="signature in signatures">
      <li><strong>Signed by:</strong> {{ signature.signer.name }} &lt;{{ signature.signer.email }}&gt;</li>
      <li><strong>Signed date:</strong> {{ signature.signedAt }}</li>
      <li><strong>RFC:</strong> {{ signature.signer.id }}</li>
      <li><strong>Certificate number:</strong> {{ signature.certificate.getSerialNumber() }}</li>
      <li ng-class="{'text-success': signature.valid, 'text-danger': !signature.valid}">
        <strong>Signature: <i class="glyphicon" ng-class="{'glyphicon-ok': signature.valid, 'glyphicon-remove': !signature.valid}"></i> </strong>
        <span class="wrap-text">{{ signature.sig('base64') }}</span>
      </li>
    </ul>
  </div>

  <div id="pdf-container">
    <ng-pdf template-url="views/pdfViwer.html"></ng-pdf>
  </div>
</div>
