/* line 1, ../../app/styles/upload.scss */
.upload {
  position: relative;
}
/* line 3, ../../app/styles/upload.scss */
.upload * {
  z-index: 2;
}
/* line 6, ../../app/styles/upload.scss */
.upload .file-upload-input {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
/* line 19, ../../app/styles/upload.scss */
.upload .upload-default {
  padding: 60px 20px;
  border: 4px dotted #ddd;
}
/* line 24, ../../app/styles/upload.scss */
.upload .btn {
  background-color: #2bb673;
  border-color: #2bb673;
  color: white;
  padding: 12px 20px;
}
/* line 31, ../../app/styles/upload.scss */
.upload.image-dropping, .upload.image-upload-wrap:hover {
  background-color: #2bb673;
  border-color: #fff;
  color: #fff;
}
/* line 37, ../../app/styles/upload.scss */
.upload.image-dropping .btn, .upload.image-upload-wrap:hover .btn {
  border-color: #fff;
}

/* line 43, ../../app/styles/upload.scss */
#pdf-container {
  margin-top: 40px;
}
/* line 46, ../../app/styles/upload.scss */
#pdf-container .pdf-controls {
  width: 100%;
  display: block;
}
/* line 51, ../../app/styles/upload.scss */
#pdf-container .fixed {
  position: fixed;
  top: 0;
  left: calc(50% - 480px);
  z-index: 100;
  width: 100%;
  padding: 1em;
  background: rgba(238, 238, 238, 0.9);
  width: 960px;
}