/* line 3, ../../app/styles/verify.scss */
.verify .verify-info {
  line-height: 2;
}
/* line 6, ../../app/styles/verify.scss */
.verify .verify-info .alert-danger {
  color: #E9573F;
  background-color: #FBEEEC;
  padding: 20px 20px;
  border-radius: 2px;
  margin: 15px 0px;
  font-size: 13px;
  border: 0px;
}
/* line 16, ../../app/styles/verify.scss */
.verify .verify-info p {
  line-height: 1.4;
}
/* line 20, ../../app/styles/verify.scss */
.verify .verify-info a {
  color: #ED5565;
  text-decoration: underline;
}
/* line 25, ../../app/styles/verify.scss */
.verify .verify-info a:hover {
  color: #444;
}
/* line 29, ../../app/styles/verify.scss */
.verify .verify-info strong {
  text-transform: uppercase;
}
/* line 33, ../../app/styles/verify.scss */
.verify .verify-info .text-break {
  word-wrap: break-word;
}